#draw{
    background-color:white;
    margin: 10px 30%;
}

#divTeclado{
    margin: 0 32%;
    width: 212px;
    display: block;
    padding: 2%;
}
#palabra{
    margin: 0 30%;

}

.inputs{
    margin: 10px;
    border: black 1px;
    width: 20px;
}
.teclas{
    width: 20px;
    margin:5px;
}

#html{
    overflow: hidden;
}


